{% extends "encyclopedia/layout.html" %}

{% block title %}
  {% if edit == "true" %}
    Edit Page - Wiki
  {% else %}
    Create New Page - Wiki
  {% endif %}
{% endblock %}

{% block body %}
  {% if edit == "true" %}
    <h1>Edit Page:</h1>
  {% else %}
    <h1>Create New Page:</h1>
  {% endif %}
  <!-- error message -->
  {{ msg|safe }}
  <form action="{% url 'encyclopedia:add' %}" method="post">
    <!-- csrf middelware token to fulfill cross site request forgery protection default by django -->
    {% csrf_token %}
    <!-- rendering fields manually to be able to style them -->
    {{ form.non_field_errors }}
    <div class="titleWrapper">
        {{ form.title.errors }}
        <label for="{{ form.title.id_for_label }}">Title:</label>
        {{ form.title }}
    </div>
    <div class="contentWrapper">
        {{ form.content.errors }}
        <div for="{{ form.content.id_for_label }}">Content:</div>
        {{ form.content }}
    </div>
    {% if edit == "true" %}
      <input type="hidden" name="edit" value="true">
    {% else %}
      <input type="hidden" name="edit" value="false">
    {% endif %}
    <input type="submit">
  </form>
  <a href="{% url 'encyclopedia:index' %}">View Entries</a>
{% endblock %}