{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Page "{{ title }}"
{% endblock %}

{% block body %}
  <h1>Edit Page:</h1>
  <form action="{% url 'encyclopedia:add' %}" method="post">
    <!-- csrf middelware token to fulfill cross site request forgery protection default by django -->
    {% csrf_token %}
    <!-- rendering fields manually to be able to style them -->
    {{ form.non_field_errors }}
    <div class="titleWrapper">
        {{ form.title.errors }}
        <label for="{{ form.title.id_for_label }}">Title:</label>
        {{ form.title }}
    </div>
    <div class="contentWrapper">
        {{ form.content.errors }}
        <div for="{{ form.content.id_for_label }}">Content:</div>
        {{ form.content }}
    </div>
    <input type="submit">
  </form>
  <a href="{% url 'encyclopedia:index' %}">View Entries</a>

{% endblock %}